div#test, div#test2{
	display: inline-block;
}
div.card, div.div_sbd{
	margin:4px 15px;
}

/*********************************************/
@media (max-width: 991px) {
	div.card, div.div_sbd{

		margin:1px 15px;
	}
	div.card img, div.div_sbd img{
		
	}
	div.drag_content h1{
		margin:0px;
		padding:0px;
		font-size: 22px;
	}
	div.drag_footer h3{
		margin:0px;
		padding:0px;
		font-size: 16px;
	}
	.sbd {
	    height: auto;
	    width: 70px;
	}
	.s{
	    height: auto;
	    width: 70px;
	}
}
/*******************************************/

@media (max-width: 767px) {
	div.card, div.div_sbd{
		margin:1px 15px;
	}
	div.card img, div.div_sbd img{
		
	}
	div.drag_content h1{
		margin:0px;
		padding:0px;
		font-size: 16px;
	}
	div.drag_footer h3{
		margin:0px;
		padding:0px;
		font-size: 10px;
	}
	.sbd {
	    height: auto;
	    width: 45px;
	}
	.s {
	    height: auto;
	    width: 45px;
	}
}
/*************************************************/
@media (max-width: 480px) {
	.btm_d_mb {
	     display: inline-block; 
	}
}