section#fruits{

}


section#fruits div.container-fluid{
	text-align: center;
}


/*********************************************/
@media (min-width: 1200px) {
	section#fruits{
		padding-top:80px;
	}

}
/*********************************************/
@media (min-width: 1199px) {
	section#fruits{
		padding-top:50px;
	}

}
/*********************************************/

@media (max-width: 767px) {
	section#fruits{
		padding-top:10px;
	}
	section#fruits a img{
		width:40%;
	}
}