div.first_row{	
	margin-bottom: 20px;
}

div.div_sbd{
	display: inline-block;
}
section#number_cont{
	padding:25px 0px;
}

section#number_cont img.item_1{
	border:solid 1px black;
	padding:5px;
}

section#number_cont div.next_play a{
	display: inline-block;
	margin-top: 20px;
}


@media (max-width: 991px) {
	section#number_cont img.item_1{
		border:solid 1px black;
		padding:5px;
		width:350px;
	}
	section#number_cont{
		padding:10px 0px;
	}

	div.first_row{	
		margin-bottom: 10px;
	}
	.sbd {
	     height: auto; 
	    width: 50px;
	}
	div.drag_wrp h1{
		margin:0px;
		padding:0px;
		font-size: 24px;
	}
	div.drag_wrp h3{
		margin:0px;
		padding:0px;
		font-size: 18px;
	}
}
/***************************************/

@media (max-width: 767px) {
	section#number_cont img.item_1{
		border:solid 1px black;
		padding:5px;
		width:280px;
	}
	section#number_cont div.next_play a{
		display: inline-block;
		margin-top: 10px;
	}
	div#test{
		margin-top:-10px;
	}
	div#test2{
		margin-top:-10px;
	}
	div.first_row{	
		margin-bottom: 10px;
	}
	.sbd {
	     height: auto; 
	    width: 50px;
	}
	div.drag_wrp h1{
		margin:0px;
		padding:0px;
		font-size: 24px;
	}
	div.drag_wrp h3{
		margin:0px;
		padding:0px;
		font-size: 18px;
	}
	div.next_play img{
		width:80px;
	}
}
/*****************************************/
@media (max-width: 400px) {
	section#number_cont img.item_1{
		border:solid 1px black;
		padding:5px;
		width:200px;
	}
	.sbd {
	    height: auto; 
	    width: 45px;
	}
	div.next_play img{
		width:60px;
	}
}