section#jukto_l1{
	padding-top:20px;
}
section#jukto_l1 div.img_wrap a{
	display: inline-block;
	margin:0px 15px 20px;

}
div.menu_btn{
	padding-right:70px;
}
@media (max-width: 600px) {
	div.menu_btn{
		padding-right:38px;
	}
	section#jukto_l1 div.img_wrap a img{
		width:50px;
	}
	section#jukto_l1 div.img_wrap a{
		display: inline-block;
		margin:0px 10px 10px;
	}
}


@media (max-width: 480px) {
	div.menu_btn{
		padding-right:38px;
	}
	section#jukto_l1 div.img_wrap a img{
		width:45px;
	}
	section#jukto_l1 div.img_wrap a{
		display: inline-block;
		margin:0px 5px 10px;
	}
}

@media (max-width: 320px) {
	div.menu_btn{
		padding-right:10px;
	}
	section#jukto_l1 div.img_wrap a img{
		width:40px;
	}
	section#jukto_l1 div.img_wrap a{
		display: inline-block;
		margin:0px 5px 10px;
	}
}

@media (max-width: 767px) {
    header .text{
        padding-left:0px;
    }
    header a{
        font-size: 12px;
    }
}