

section#two_content{
	text-align: center;

}

section#two_content div.first_row a,
section#two_content div.second_row a{
	display: inline-block;
	font-size: 36px;
	width:267px;
	height: 99px;
	background:#3A72B8;
	color:white;
	line-height: 99px;
	text-align: center;
	border-radius: ;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;

	margin:10px;
	cursor: pointer;


	-webkit-box-shadow:3px 27px 34px -9px rgba(0,0,0,0.47);
	-moz-box-shadow:3px 27px 34px -9px rgba(0,0,0,0.47);
	-ms-box-shadow:3px 27px 34px -9px rgba(0,0,0,0.47);
	-o-box-shadow:3px 27px 34px -9px rgba(0,0,0,0.47);
	box-shadow:3px 27px 34px -9px rgba(0,0,0,0.47);
}
	section#two_content div.first_row a:hover{
		color:black;
		background:#4A97F7;
	}
	section#two_content div.second_row a:hover{
		color:black;
		background:#4A97F7;
	}