@media (max-width: 991px) {
	div.drag_wrp h1{
		margin:0px;
		padding:0px;
		font-size: 24px;
	}
	div.test img{
		width:40px;
		height: auto;
	}
	div.d4_img img{
		width:250px;
		/*margin:0px auto;*/
	}
}
/*****************************************/
@media (max-width: 767px) {
	div.drag_wrp h1{
		margin:0px;
		padding:0px;
		font-size: 18px;
	}
	div.test{
		margin-top:-15px;
	}
	div.test img{
		width:40px;
		height: auto;
	}
	div.d4_img{
		margin-top:-15px;
	}
	div.d4_img img{
		width:200px;
		/*margin:0px auto;*/
	}
}