
/*************************** <=1199px ***********************************/
@media (min-width: 1200px) {

	<!--top-->
	@keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -140px;}
	}
	@-webkit-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -140px;}
	}
	@-moz-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -140px;}
	}
	@-o-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -140px;}
	}
	@-ms-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -140px;}
	}
		@keyframes cssAnimationtRv {
		 0% {margin-top: -140px;}
			 100% {margin-top: 0px;}
	}
	@-webkit-keyframes cssAnimationtRv {
		 0% {margin-top: -140px;}
			 100% {margin-top: 0px;}
	}
	@-moz-keyframes cssAnimationRv {
		 0% {margin-top: -140px;}
			 100% {margin-top: 0px;}
	}
	@-o-keyframes cssAnimationtRv {
		 0% {margin-top: -140px;}
			 100% {margin-top: 0px;}
	}
	@-ms-keyframes cssAnimationtRv {
		 0% {margin-top: -140px;}
			 100% {margin-top: 0px;}
	}


	<!--right-->
	@keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 125px;}
	}
	@-webkit-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 125px;}
	}
	@-moz-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 125px;}
	}
	@-o-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 125px;}
	}
	@-ms-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 125px;}
	}
	@keyframes cssAnimationrRv {
		 0% {margin-left: 125px;}
			 100% {margin-left: 0px;}
	}
	@-webkit-keyframes cssAnimationrRv {
		 0% {margin-left: 125px;}
			 100% {margin-left: 0px;}
	}
	@-moz-keyframes cssAnimationrRv {
		 0% {margin-left: 125px;}
			 100% {margin-left: 0px;}
	}
	@-o-keyframes cssAnimationrRv {
		 0% {margin-left: 125px;}
			 100% {margin-left: 0px;}
	}
	@-ms-keyframes cssAnimationrRv {
		 0% {margin-left: 125px;}
			 100% {margin-left: 0px;}
	}

	<!--bottom-->
	@keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 130px;}
	}
	@-webkit-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 130px;}
	}
	@-moz-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 130px;}
	}
	@-o-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 130px;}
	}
	@-ms-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 130px;}
	}
	@keyframes cssAnimationbRv {
		 0% {margin-top: 130px;}
			 100% {margin-top: 0px;}
	}
	@-webkit-keyframes cssAnimationbRv {
		 0% {margin-top: 130px;}
			 100% {margin-top: 0px;}
	}
	@-moz-keyframes cssAnimationbRv {
		 0% {margin-top: 130px;}
			 100% {margin-top: 0px;}
	}
	@-o-keyframes cssAnimationbRv {
		 0% {margin-top: 130px;}
			 100% {margin-top: 0px;}
	}
	@-ms-keyframes cssAnimationbRv {
		 0% {margin-top: 130px;}
			 100% {margin-top: 0px;}
	}

	<!--left-->
	@keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -160px;}
	}		
	/* Chrome, Safari, Opera */
	@-webkit-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -160px;}
	}
	@-moz-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -160px;}
	}
	@-o-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -160px;}
	}
	@-ms-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -160px;}
	}
	@keyframes cssAnimationlRv {
		 0% {margin-left: -160px;}
			100% {margin-left: 0px;}
	}		
	/* Chrome, Safari, Opera */
	@-webkit-keyframes cssAnimationlRv {
		 0% {margin-left: -160px;}
			100% {margin-left: 0px;}
	}
	@-moz-keyframes cssAnimationRvl {
		 0% {margin-left: -160px;}
			100% {margin-left: 0px;}
	}
	@-o-keyframes cssAnimationlRv {
		 0% {margin-left: -160px;}
			100% {margin-left: 0px;}
	}
	@-ms-keyframes cssAnimationlRv {
		 0% {margin-left: -160px;}
			100% {margin-left: 0px;}
	}
}
/**********************************************************************/

/*************************** <=1199px ***********************************/
@media (max-width: 1199px) {
	div#slide1{
		/*border:solid 1px red;*/
	}
	div#slide2 li.img_content{
		margin-top:15px;
	}
	div#slide3{
		/*border:solid 1px black;*/
	}
	div#slide4 li.img_content{
		margin-top:15px;
	}
	div#main div#slide2 ul li.img_content,
	div#main div#slide4 ul li.img_content{
	    width: 100px;
	    height: 100px;
	    
	}
	div#main div.img_anam{
		margin-left:10px;	    
	    width:100px;
	    height: 100px;	        
	}

	<!--top-->
	@keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -100px;}
	}
	@-webkit-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -100px;}
	}
	@-moz-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -100px;}
	}
	@-o-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -100px;}
	}
	@-ms-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -100px;}
	}
		@keyframes cssAnimationtRv {
		 0% {margin-top: -100px;}
			 100% {margin-top: 0px;}
	}
	@-webkit-keyframes cssAnimationtRv {
		 0% {margin-top: -100px;}
			 100% {margin-top: 0px;}
	}
	@-moz-keyframes cssAnimationRv {
		 0% {margin-top: -100px;}
			 100% {margin-top: 0px;}
	}
	@-o-keyframes cssAnimationtRv {
		 0% {margin-top: -100px;}
			 100% {margin-top: 0px;}
	}
	@-ms-keyframes cssAnimationtRv {
		 0% {margin-top: -100px;}
			 100% {margin-top: 0px;}
	}


	<!--right-->
	@keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 95px;}
	}
	@-webkit-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 95px;}
	}
	@-moz-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 95px;}
	}
	@-o-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 95px;}
	}
	@-ms-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 95px;}
	}
	@keyframes cssAnimationrRv {
		 0% {margin-left: 95px;}
			 100% {margin-left: 0px;}
	}
	@-webkit-keyframes cssAnimationrRv {
		 0% {margin-left: 95px;}
			 100% {margin-left: 0px;}
	}
	@-moz-keyframes cssAnimationrRv {
		 0% {margin-left: 95px;}
			 100% {margin-left: 0px;}
	}
	@-o-keyframes cssAnimationrRv {
		 0% {margin-left: 95px;}
			 100% {margin-left: 0px;}
	}
	@-ms-keyframes cssAnimationrRv {
		 0% {margin-left: 95px;}
			 100% {margin-left: 0px;}
	}

	<!--bottom-->
	@keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 120px;}
	}
	@-webkit-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 120px;}
	}
	@-moz-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 120px;}
	}
	@-o-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 120px;}
	}
	@-ms-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 120px;}
	}
	@keyframes cssAnimationbRv {
		 0% {margin-top: 120px;}
			 100% {margin-top: 0px;}
	}
	@-webkit-keyframes cssAnimationbRv {
		 0% {margin-top: 120px;}
			 100% {margin-top: 0px;}
	}
	@-moz-keyframes cssAnimationbRv {
		 0% {margin-top: 120px;}
			 100% {margin-top: 0px;}
	}
	@-o-keyframes cssAnimationbRv {
		 0% {margin-top: 120px;}
			 100% {margin-top: 0px;}
	}
	@-ms-keyframes cssAnimationbRv {
		 0% {margin-top: 120px;}
			 100% {margin-top: 0px;}
	}

	<!--left-->
	@keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -130px;}
	}		
	/* Chrome, Safari, Opera */
	@-webkit-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -130px;}
	}
	@-moz-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -130px;}
	}
	@-o-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -130px;}
	}
	@-ms-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -130px;}
	}
	@keyframes cssAnimationlRv {
		 0% {margin-left: -130px;}
			100% {margin-left: 0px;}
	}		
	/* Chrome, Safari, Opera */
	@-webkit-keyframes cssAnimationlRv {
		 0% {margin-left: -130px;}
			100% {margin-left: 0px;}
	}
	@-moz-keyframes cssAnimationRvl {
		 0% {margin-left: -130px;}
			100% {margin-left: 0px;}
	}
	@-o-keyframes cssAnimationlRv {
		 0% {margin-left: -130px;}
			100% {margin-left: 0px;}
	}
	@-ms-keyframes cssAnimationlRv {
		 0% {margin-left: -130px;}
			100% {margin-left: 0px;}
	}
}
/**********************************************************************/


/*************************** <=991px ***********************************/
@media (max-width: 991px) {
	div#main div.img_anam {
	    /*margin-left: 10px;*/
	}
	div#tm{
		/*width: 80px;*/
		/*height: 80px;*/
		/*text-align: center;*/
	}
	div#tm h1{
		/*line-height: 80px;*/
	}
	div.txt_as_m {
	    color: #FFF;
	    padding: 30px 35px 25px;
	}
	div#main div#slide2 ul li.img_content,
	div#main div#slide4 ul li.img_content{
	    width: 70px;
	    height: 70px;
	    
	}
	div#main div.img_anam{
		position: absolute;
		top:0px;
		/*margin-left:8px;	    */
	    width:70px;
	    height: 70px;	        
	}

	div#main div.img_anam{
		/*margin-left:8px;*/
	}
	div#slide2 li.img_content {
		position: absolute;
		/*right:0px;*/
		left:134px;
		top:0;
	    margin-top: 0px;
	}
	div#slide4 li.img_content {
		position: absolute;
		top:0px;
		right:100px;
	    margin-top: 0px;
	}
	

	<!--top-->
	@keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -85px;}
	}
	@-webkit-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -85px;}
	}
	@-moz-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -85px;}
	}
	@-o-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -85px;}
	}
	@-ms-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -85px;}
	}
		@keyframes cssAnimationtRv {
		 0% {margin-top: -85px;}
			 100% {margin-top: 0px;}
	}
	@-webkit-keyframes cssAnimationtRv {
		 0% {margin-top: -85px;}
			 100% {margin-top: 0px;}
	}
	@-moz-keyframes cssAnimationRv {
		 0% {margin-top: -85px;}
			 100% {margin-top: 0px;}
	}
	@-o-keyframes cssAnimationtRv {
		 0% {margin-top: -85px;}
			 100% {margin-top: 0px;}
	}
	@-ms-keyframes cssAnimationtRv {
		 0% {margin-top: -85px;}
			 100% {margin-top: 0px;}
	}


	<!--right-->
	@keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 75px;}
	}
	@-webkit-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 75px;}
	}
	@-moz-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 75px;}
	}
	@-o-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 75px;}
	}
	@-ms-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 75px;}
	}
	@keyframes cssAnimationrRv {
		 0% {margin-left: 75px;}
			 100% {margin-left: 0px;}
	}
	@-webkit-keyframes cssAnimationrRv {
		 0% {margin-left: 75px;}
			 100% {margin-left: 0px;}
	}
	@-moz-keyframes cssAnimationrRv {
		 0% {margin-left: 75px;}
			 100% {margin-left: 0px;}
	}
	@-o-keyframes cssAnimationrRv {
		 0% {margin-left: 75px;}
			 100% {margin-left: 0px;}
	}
	@-ms-keyframes cssAnimationrRv {
		 0% {margin-left: 75px;}
			 100% {margin-left: 0px;}
	}

	<!--bottom-->
	@keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 105px;}
	}
	@-webkit-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 105px;}
	}
	@-moz-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 105px;}
	}
	@-o-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 105px;}
	}
	@-ms-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 105px;}
	}
	@keyframes cssAnimationbRv {
		 0% {margin-top: 105px;}
			 100% {margin-top: 0px;}
	}
	@-webkit-keyframes cssAnimationbRv {
		 0% {margin-top: 105px;}
			 100% {margin-top: 0px;}
	}
	@-moz-keyframes cssAnimationbRv {
		 0% {margin-top: 105px;}
			 100% {margin-top: 0px;}
	}
	@-o-keyframes cssAnimationbRv {
		 0% {margin-top: 105px;}
			 100% {margin-top: 0px;}
	}
	@-ms-keyframes cssAnimationbRv {
		 0% {margin-top: 105px;}
			 100% {margin-top: 0px;}
	}

	<!--left-->
	@keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -130px;}
	}		
	/* Chrome, Safari, Opera */
	@-webkit-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -130px;}
	}
	@-moz-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -130px;}
	}
	@-o-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -130px;}
	}
	@-ms-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -130px;}
	}
	@keyframes cssAnimationlRv {
		 0% {margin-left: -130px;}
			100% {margin-left: 0px;}
	}		
	/* Chrome, Safari, Opera */
	@-webkit-keyframes cssAnimationlRv {
		 0% {margin-left: -130px;}
			100% {margin-left: 0px;}
	}
	@-moz-keyframes cssAnimationRvl {
		 0% {margin-left: -130px;}
			100% {margin-left: 0px;}
	}
	@-o-keyframes cssAnimationlRv {
		 0% {margin-left: -130px;}
			100% {margin-left: 0px;}
	}
	@-ms-keyframes cssAnimationlRv {
		 0% {margin-left: -130px;}
			100% {margin-left: 0px;}
	}
}
/**********************************************************************/

/*************************** <=800px ***********************************/
@media (max-width: 800px) {
	div#t2{
		padding-left:0px;

	}
	div#main div.img_anam {
	    margin-left: 10px;
	}
	div#tm{
		width: 70px;
		height: 70px;
		text-align: center;
	}
	div#tm h1{
		line-height: 70px;
	}
	div.txt_as_m {
	    color: #FFF;
	    padding: 0px 0px 0px;
	}
	div#main div#slide2 ul li.img_content,
	div#main div#slide4 ul li.img_content{
	    width: 50px;
	    height: 50px;
	    
	}
	div#main div.img_anam{
		position: absolute;
		top:0px;
		margin-left:8px;	    
	    width:50px;
	    height: 50px;	        
	}

	div#main div.img_anam{
		/*margin-left:8px;*/
	}
	div#slide2 li.img_content {
		position: absolute;
		/*right:0px;*/
		left:134px;
		top:0;
	    margin-top: 0px;
	}
	div#slide4 li.img_content {
		position: absolute;
		top:0px;
		right:100px;
	    margin-top: 0px;
	}
	

	<!--top-->
	@keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -85px;}
	}
	@-webkit-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -85px;}
	}
	@-moz-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -85px;}
	}
	@-o-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -85px;}
	}
	@-ms-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -85px;}
	}
		@keyframes cssAnimationtRv {
		 0% {margin-top: -85px;}
			 100% {margin-top: 0px;}
	}
	@-webkit-keyframes cssAnimationtRv {
		 0% {margin-top: -85px;}
			 100% {margin-top: 0px;}
	}
	@-moz-keyframes cssAnimationRv {
		 0% {margin-top: -85px;}
			 100% {margin-top: 0px;}
	}
	@-o-keyframes cssAnimationtRv {
		 0% {margin-top: -85px;}
			 100% {margin-top: 0px;}
	}
	@-ms-keyframes cssAnimationtRv {
		 0% {margin-top: -85px;}
			 100% {margin-top: 0px;}
	}


	<!--right-->
	@keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 65px;}
	}
	@-webkit-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 65px;}
	}
	@-moz-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 65px;}
	}
	@-o-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 65px;}
	}
	@-ms-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 65px;}
	}
	@keyframes cssAnimationrRv {
		 0% {margin-left: 65px;}
			 100% {margin-left: 0px;}
	}
	@-webkit-keyframes cssAnimationrRv {
		 0% {margin-left: 65px;}
			 100% {margin-left: 0px;}
	}
	@-moz-keyframes cssAnimationrRv {
		 0% {margin-left: 65px;}
			 100% {margin-left: 0px;}
	}
	@-o-keyframes cssAnimationrRv {
		 0% {margin-left: 65px;}
			 100% {margin-left: 0px;}
	}
	@-ms-keyframes cssAnimationrRv {
		 0% {margin-left: 65px;}
			 100% {margin-left: 0px;}
	}

	<!--bottom-->
	@keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@-webkit-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@-moz-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@-o-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@-ms-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}
	@-webkit-keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}
	@-moz-keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}
	@-o-keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}
	@-ms-keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}

	<!--left-->
	@keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}		
	/* Chrome, Safari, Opera */
	@-webkit-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}
	@-moz-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}
	@-o-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}
	@-ms-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}
	@keyframes cssAnimationlRv {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}		
	/* Chrome, Safari, Opera */
	@-webkit-keyframes cssAnimationlRv {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}
	@-moz-keyframes cssAnimationRvl {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}
	@-o-keyframes cssAnimationlRv {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}
	@-ms-keyframes cssAnimationlRv {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}
}
/**********************************************************************/

/*************************** <=767px ***********************************/
@media (max-width: 767px) {
	div#main{
		top:70%;
	}

	section.button_bar div.container-fluid{
		text-align: center;
		padding-right:0px;
		padding-top:10px;
	}
	section.button_bar div.container-fluid a{
		width:90px;
		height: 40px;
		line-height: 40px;
		font-size: 18px;
	}
	div#t2{
		padding-left:0px;
		
	}
	div#main div.img_anam {
	    margin-left: 10px;
	}
	div#tm{
		width: 50px;
		height: 50px;
		text-align: center;
		/*margin-top:25px;*/
	}
	div#tm h1{
		line-height: 50px;
	}
	div.txt_as_m {
	    color: #FFF;
	    padding: 0px 0px 0px;
	}
	div#main div#slide2 ul li.img_content,
	div#main div#slide4 ul li.img_content{
	    width: 30px;
	    height: 30px;
	    
	}
	div#main div.img_anam{
		position: absolute;
		top:0px;
		margin-left:8px;	    
	    width:30px;
	    height: 30px;	        
	}

	div#main div.img_anam{
		/*margin-left:8px;*/
	}
	div#slide2 li.img_content {
		position: absolute;
		/*right:0px;*/
		left:134px;
		top:0;
	    margin-top: 0px;
	}
	div#slide4 li.img_content {
		position: absolute;
		top:0px;
		right:100px;
	    margin-top: 0px;
	}
	

	<!--top-->
	@keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -50px;}
	}
	@-webkit-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -50px;}
	}
	@-moz-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -50px;}
	}
	@-o-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -50px;}
	}
	@-ms-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: -50px;}
	}
		@keyframes cssAnimationtRv {
		 0% {margin-top: -50px;}
			 100% {margin-top: 0px;}
	}
	@-webkit-keyframes cssAnimationtRv {
		 0% {margin-top: -50px;}
			 100% {margin-top: 0px;}
	}
	@-moz-keyframes cssAnimationRv {
		 0% {margin-top: -50px;}
			 100% {margin-top: 0px;}
	}
	@-o-keyframes cssAnimationtRv {
		 0% {margin-top: -50px;}
			 100% {margin-top: 0px;}
	}
	@-ms-keyframes cssAnimationtRv {
		 0% {margin-top: -50px;}
			 100% {margin-top: 0px;}
	}


	<!--right-->
	@keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 25px;}
	}
	@-webkit-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 25px;}
	}
	@-moz-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 25px;}
	}
	@-o-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 25px;}
	}
	@-ms-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 25px;}
	}
	@keyframes cssAnimationrRv {
		 0% {margin-left: 25px;}
			 100% {margin-left: 0px;}
	}
	@-webkit-keyframes cssAnimationrRv {
		 0% {margin-left: 25px;}
			 100% {margin-left: 0px;}
	}
	@-moz-keyframes cssAnimationrRv {
		 0% {margin-left: 25px;}
			 100% {margin-left: 0px;}
	}
	@-o-keyframes cssAnimationrRv {
		 0% {margin-left: 25px;}
			 100% {margin-left: 0px;}
	}
	@-ms-keyframes cssAnimationrRv {
		 0% {margin-left: 25px;}
			 100% {margin-left: 0px;}
	}

	<!--bottom-->
	@keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@-webkit-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@-moz-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@-o-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@-ms-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}
	@-webkit-keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}
	@-moz-keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}
	@-o-keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}
	@-ms-keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}

	<!--left-->
	@keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}		
	/* Chrome, Safari, Opera */
	@-webkit-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}
	@-moz-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}
	@-o-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}
	@-ms-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}
	@keyframes cssAnimationlRv {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}		
	/* Chrome, Safari, Opera */
	@-webkit-keyframes cssAnimationlRv {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}
	@-moz-keyframes cssAnimationRvl {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}
	@-o-keyframes cssAnimationlRv {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}
	@-ms-keyframes cssAnimationlRv {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}
}
/**********************************************************************/

/*************************** <=500px ***********************************/
@media (max-width: 500px) {
	div#main{
		top:70%;
	}

	section.button_bar div.container-fluid{
		text-align: center;
		padding-right:0px;
		padding-top:10px;
	}
	section.button_bar div.container-fluid a{
		width:90px;
		height: 40px;
		line-height: 40px;
		font-size: 18px;
	}
	div#t2{
		padding-left:0px;
		
	}
	div#main div.img_anam {
	    margin-left: 10px;
	}
	div#tm{
		width: 50px;
		height: 50px;
		text-align: center;
		/*margin-top:25px;*/
	}
	div#tm h1{
		line-height: 50px;
	}
	div.txt_as_m {
	    color: #FFF;
	    padding: 0px 0px 0px;
	}
	div#main div#slide2 ul li.img_content,
	div#main div#slide4 ul li.img_content{
	    width: 30px;
	    height: 30px;
	    
	}
	div#main div.img_anam{
		position: absolute;
		top:0px;
		margin-left:8px;	    
	    width:30px;
	    height: 30px;	        
	}

	div#main div.img_anam{
		/*margin-left:8px;*/
	}
	div#slide2 li.img_content {
		position: absolute;
		/*right:0px;*/
		left:134px;
		top:0;
	    margin-top: 0px;
	}
	div#slide4 li.img_content {
		position: absolute;
		top:0px;
		right:100px;
	    margin-top: 0px;
	}
	

	<!--top-->
	@keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: 0px;}
	}
	@-webkit-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: 0px;}
	}
	@-moz-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: 0px;}
	}
	@-o-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: 0px;}
	}
	@-ms-keyframes cssAnimationt {
		 0% {margin-top: 0px;}
			 100% {margin-top: 0px;}
	}
		@keyframes cssAnimationtRv {
		 0% {margin-top: 0px;}
			 100% {margin-top: 0px;}
	}
	@-webkit-keyframes cssAnimationtRv {
		 0% {margin-top: 0px;}
			 100% {margin-top: 0px;}
	}
	@-moz-keyframes cssAnimationRv {
		 0% {margin-top: 0px;}
			 100% {margin-top: 0px;}
	}
	@-o-keyframes cssAnimationtRv {
		 0% {margin-top: 0px;}
			 100% {margin-top: 0px;}
	}
	@-ms-keyframes cssAnimationtRv {
		 0% {margin-top: 0px;}
			 100% {margin-top: 0px;}
	}


	<!--right-->
	@keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 25px;}
	}
	@-webkit-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 25px;}
	}
	@-moz-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 25px;}
	}
	@-o-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 25px;}
	}
	@-ms-keyframes cssAnimationr {
		 0% {margin-left: 0px;}
			 100% {margin-left: 25px;}
	}
	@keyframes cssAnimationrRv {
		 0% {margin-left: 25px;}
			 100% {margin-left: 0px;}
	}
	@-webkit-keyframes cssAnimationrRv {
		 0% {margin-left: 25px;}
			 100% {margin-left: 0px;}
	}
	@-moz-keyframes cssAnimationrRv {
		 0% {margin-left: 25px;}
			 100% {margin-left: 0px;}
	}
	@-o-keyframes cssAnimationrRv {
		 0% {margin-left: 25px;}
			 100% {margin-left: 0px;}
	}
	@-ms-keyframes cssAnimationrRv {
		 0% {margin-left: 25px;}
			 100% {margin-left: 0px;}
	}

	<!--bottom-->
	@keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@-webkit-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@-moz-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@-o-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@-ms-keyframes cssAnimationb {
		 0% {margin-top: 0px;}
			 100% {margin-top: 95px;}
	}
	@keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}
	@-webkit-keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}
	@-moz-keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}
	@-o-keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}
	@-ms-keyframes cssAnimationbRv {
		 0% {margin-top: 95px;}
			 100% {margin-top: 0px;}
	}

	<!--left-->
	@keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}		
	/* Chrome, Safari, Opera */
	@-webkit-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}
	@-moz-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}
	@-o-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}
	@-ms-keyframes cssAnimationl {
		 0% {margin-left: 0px;}
			100% {margin-left: -120px;}
	}
	@keyframes cssAnimationlRv {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}		
	/* Chrome, Safari, Opera */
	@-webkit-keyframes cssAnimationlRv {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}
	@-moz-keyframes cssAnimationRvl {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}
	@-o-keyframes cssAnimationlRv {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}
	@-ms-keyframes cssAnimationlRv {
		 0% {margin-left: -120px;}
			100% {margin-left: 0px;}
	}
}
/**********************************************************************/

/*************************** <=1199px ***********************************/
@media (max-width: 1199px) {
	
}
/**********************************************************************/

/*************************** <=991px ***********************************/
@media (max-width: 991px) {

	
	
}
/**********************************************************************/

/*************************** <=800px ***********************************/
@media (max-width: 800px) {
	
}
/**********************************************************************/

/*************************** <=767px ***********************************/
@media (max-width: 767px) {
	
}
/**********************************************************************/

/*************************** <=480px ***********************************/
@media (max-width: 480px) {
	
}
/**********************************************************************/

/*************************** <=320px ***********************************/
@media (max-width: 320px) {
	
}
/**********************************************************************/



