




/*************************** <=1199px ***********************************/
@media (min-width: 991px) {
	.div_sbd > img{
        width: 80px;   
    }
    .marin{
        margin: 15px 0;   
    }
}

/*************************** <=1199px ***********************************/
@media (max-width: 1199px) {
	.sbd{
		height:50px;
		width:50px;
	}
}
/**********************************************************************/

/*************************** <=991px ***********************************/
@media (max-width: 991px) {
	.sbd{
		height:50px;
		width:50px;
	}
	.div_sbd > img {
	    width: 75px;
	}
}
/**********************************************************************/

/*************************** <=800px ***********************************/
@media (max-width: 800px) {
	.sbd{
		height:45px;
		width:45px;
	}
	.div_sbd > img {
	    width: 45px;
	}
	div.drag_wrp{
		margin-top:12px;
	}

}
/**********************************************************************/

/*************************** <=767px ***********************************/
@media (max-width: 767px) {
	h1{
		margin:0px;
		padding:0px;
		margin-top:5px;
		font-size:27px;
	}
	h3{
		margin:0px;
		padding:0px;
		margin-top:5px;
		
	}
	.sbd{
		height:45px;
		width:45px;
	}
	.ui-droppable-disabled > img{
		width: 45px;
	}
	div.drag_wrp{
		margin-top:-20px;
	}

}
/**********************************************************************/

/*************************** <=650px ***********************************/
@media (max-width: 650px) {
	.ui-droppable-disabled > img{
		width: 45px;
		height: 30px;
	}

	.sbd{
		height:30px;
		width:30px;
	}
	h1{
		font-size: 27px;
	}
	h3{
		font-size: 20px;
		margin: 0px 10px;
	}
	div.drag_wrp{
		margin-top:10px;
	}
	div#test2{
		/*margin-top: 15px;*/
	}
	.div_sbd > img {
	    width: 35px;
	}
	section#instruction_bar h1{
		margin:0px;
	}

}
/**********************************************************************/

/*************************** <=500px ***********************************/
@media (max-width: 500px) {
	.sbd{
		height:30px;
		width:30px;
	}
	h1{
		font-size: 27px;
	}
	h3{
		font-size: 20px;
		margin: 0px 10px;
	}
	div.drag_wrp{
		margin-top:-10px;
	}
	.div_sbd > img {
	    width: 35px;
	}
	section#instruction_bar h1{
		margin:0px;
	}

}
/**********************************************************************/

/*************************** <=480px ***********************************/
@media (max-width: 480px) {
	h3{
		font-size: 15px;
	}
	.sbd{
		height:30px;
		width:30px;
	}
}
/**********************************************************************/

/*************************** <=320px ***********************************/
@media (max-width: 320px) {
	.sbd{
		height:12px;
		width:12px;
	}
}
/**********************************************************************/



