/*************************** <=1199px ***********************************/
@media (max-width: 1199px) {
	.sbd{
		height:50px;
		width:50px;
	}
}
/**********************************************************************/

/*************************** <=991px ***********************************/
@media (max-width: 991px) {
	.sbd{
		height:50px;
		width:50px;
	}
}
/**********************************************************************/

/*************************** <=800px ***********************************/
@media (max-width: 800px) {
	.sbd{
		height:45px;
		width:45px;
	}
}
/**********************************************************************/

/*************************** <=767px ***********************************/
@media (max-width: 767px) {
	.sbd{
		height:45px;
		width:45px;
	}
}
/**********************************************************************/

/*************************** <=500px ***********************************/
@media (max-width: 500px) {
	.sbd{
		height:30px;
		width:30px;
	}
	h1{
		font-size: 27px;
	}
	h3{
		font-size: 20px;
		margin: 0px 10px;
	}
	div.drag_wrp{
		margin-top:-10px;
	}

}
/**********************************************************************/

/*************************** <=480px ***********************************/
@media (max-width: 480px) {
	h3{
		font-size: 15px;
	}
	.sbd{
		height:30px;
		width:30px;
	}
}
/**********************************************************************/

/*************************** <=320px ***********************************/
@media (max-width: 320px) {
	.sbd{
		height:12px;
		width:12px;
	}
}
/**********************************************************************/



